<h1>Editing Movie #<%= @movie.id %></h1>

<form action="/movies/<%= @movie.id %>/update">
  <div>
    <label for="title">title</label><br />
    <input id="title" name="title" value="<%= @movie.title  %>" type="text" />
  </div>
  <div>
    <label for="year">year</label><br />
    <input id="year" name="year" value="<%= @movie.year  %>" type="text" />
  </div>
  <div>
    <label for="rating">rating</label><br />
    <input id="rating" name="rating" value="<%= @movie.rating  %>" type="text" />
  </div>
  <div>
    <label for="runtime">runtime</label><br />
    <input id="runtime" name="runtime" value="<%= @movie.runtime  %>" type="text" />
  </div>
  <div>
    <label for="synopsis">synopsis</label><br />
    <input id="synopsis" name="synopsis" value="<%= @movie.synopsis  %>" type="text" />
  </div>
  <div>
    <label for="poster">poster</label><br />
    <input id="poster" name="poster" value="<%= @movie.poster  %>" type="text" />
  </div>
  <div>
    <label for="critics_rating">critics_rating</label><br />
    <input id="critics_rating" name="critics_rating" value="<%= @movie.critics_rating  %>" type="text" />
  </div>
  <div>
    <label for="critics_score">critics_score</label><br />
    <input id="critics_score" name="critics_score" value="<%= @movie.critics_score  %>" type="text" />
  </div>
  <div>
    <label for="audience_rating">audience_rating</label><br />
    <input id="audience_rating" name="audience_rating" value="<%= @movie.audience_rating  %>" type="text" />
  </div>
  <div>
    <label for="audience_score">audience_score</label><br />
    <input id="audience_score" name="audience_score" value="<%= @movie.audience_score  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


