<h1>Movies</h1>

<p><a href="/movie_search">Search Movies</a></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Releasedate</th>
      <th>Rating</th>
      <th>Runtime</th>
      <th>Genre</th>
      <th>Director</th>
      <th>Writer</th>
      <th>Actors</th>
      <th>Plot</th>
      <th>Language</th>
      <th>Country</th>
      <th>Awards</th>
      <th>Poster</th>
      <th>Metascore</th>
      <th>Imdbrating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @movies.each do |movie| %>
    <tr>
          <td><%= movie.title %></td>
          <td><%= movie.releasedate %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.runtime %></td>
          <td><%= movie.genre %></td>
          <td><%= movie.director %></td>
          <td><%= movie.writer %></td>
          <td><%= movie.actors %></td>
          <td><%= movie.plot %></td>
          <td><%= movie.language %></td>
          <td><%= movie.country %></td>
          <td><%= movie.awards %></td>
          <td><%= movie.poster %></td>
          <td><%= movie.metascore %></td>
          <td><%= movie.imdbrating %></td>
          <td><a href="/movies/<%= movie.id %>">Show</a>
        </td>
      <td><a href="/movies/<%= movie.id %>/edit">Edit</a></td>
      <td><a href="/movies/<%= movie.id %>/destroy">Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

