<h1>Movies</h1>

<p><a href="/movie_search">Search Movies</a></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Rating</th>
      <th>Runtime</th>
      <th>Critics Rating</th>
      <th>Critics Score</th>
      <th>Audience Rating</th>
      <th>Audience Score</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @movies.each do |movie| %>
    <tr>
          <td><%= movie.title %></td>
          <td><%= movie.year %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.runtime %></td>
          <td><%= movie.critics_rating %></td>
          <td><%= movie.critics_score %></td>
          <td><%= movie.audience_rating %></td>
          <td><%= movie.audience_score %></td>
          <td><a href="/movies/<%= movie.id %>">Show</a>
        </td>
      <td><a href="/movies/<%= movie.id %>/edit">Edit</a></td>
      <td><a href="/movies/<%= movie.id %>/destroy" onclick="return confirm('Are you sure?')">Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

