<h1>Movie #<%= @movie.id %></h1>

<div>
  <strong>Title</strong>:<br />
  <p><%= @movie.title %></p>
</div>
<div>
  <strong>Year</strong>:<br />
  <p><%= @movie.year %></p>
</div>
<div>
  <strong>Rating</strong>:<br />
  <p><%= @movie.rating %></p>
</div>
<div>
  <strong>Runtime</strong>:<br />
  <p><%= @movie.runtime %></p>
</div>
<div>
  <strong>Synopsis</strong>:<br />
  <p><%= @movie.synopsis %></p>
</div>
<div>
  <strong>Poster</strong>:<br />
  <p><%= @movie.poster %></p>
</div>
<div>
  <strong>Critics Rating</strong>:<br />
  <p><%= @movie.critics_rating %></p>
</div>
<div>
  <strong>Critics Score</strong>:<br />
  <p><%= @movie.critics_score %></p>
</div>
<div>
  <strong>Audience Rating</strong>:<br />
  <p><%= @movie.audience_rating %></p>
</div>
<div>
  <strong>Audience Score</strong>:<br />
  <p><%= @movie.audience_score %></p>
</div>

<a href="/movies/<%= @movie.id %>/edit">Edit</a> |
<a href="/movies/<%= @movie.id %>/destroy" onclick="return confirm('Are you sure?')">Destroy</a>
