<h1>User #<%= @user.id %></h1>

<div>
  <strong>Username</strong>:<br />
  <p><%= @user.username %></p>
</div>
<div>
  <strong>Name</strong>:<br />
  <p><%= @user.name %></p>
</div>
<div>
  <strong>Gender</strong>:<br />
  <p><%= @user.gender %></p>
</div>
<div>
  <strong>Email</strong>:<br />
  <p><%= @user.email %></p>
</div>

<a href="/users/<%= @user.id %>/edit">Edit</a> |
<a href="/users/<%= @user.id %>/destroy" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>

<br><br>

<p><%= @user.name %> has seen the following movies:<p>