<h1>Editing Watch #<%= @watch.id %></h1>

<form action="/watches/<%= @watch.id %>/update">
  <div>
    <label for="username">username</label><br />
    <input id="username" name="username" value="<%= @watch.username %>" type="text" />
  </div>
  <div>
    <label for="user_id">user_id</label><br />
    <input id="user_id" name="user_id" value="<%= @watch.user_id  %>" type="text" />
  </div>
  <div>
    <label for="movie_title">movie title</label><br />
    <input id="movie_title" name="movie_title" value="<%= @watch.movie_title  %>" type="text" />
  </div>
  <div>
    <label for="movie_id">movie_id</label><br />
    <input id="movie_id" name="movie_id" value="<%= @watch.movie_id  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


