<h1>Watches</h1>

<p><a href="/new_watch">Add a New Watch</a></p>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Movie Title</th>
      <th>User ID</th>
      <th>Movie ID</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @watches.each do |watch| %>
    <tr>
          <td><%= watch.username %></td>
          <td><%= watch.movie_title %></td>
          <td><%= watch.user_id %></td>
          <td><%= watch.movie_id %></td>
          <td><a href="/watches/<%= watch.id %>">Show</a>
        </td>
      <td><a href="/watches/<%= watch.id %>/edit">Edit</a></td>
      <td><a href="/watches/<%= watch.id %>/destroy" onclick="return confirm('Are you sure?')">Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

