<h1>Watch #<%= @watch.id %></h1>

<div>
  <strong>Username</strong>:<br />
  <p><%= @watch.username %></p>
</div>
<div>
  <strong>User ID</strong>:<br />
  <p><%= @watch.user_id %></p>
</div>
<div>
  <strong>Movie Title</strong>:<br />
  <p><%= @watch.movie_title %></p>
</div>
<div>
  <strong>Movie ID</strong>:<br />
  <p><%= @watch.movie_id %></p>
</div>

<a href="/watches/<%= @watch.id %>/edit">Edit</a> |
<a href="/watches/<%= @watch.id %>/destroy" onclick="return confirm('Are you sure?')">>Destroy</a>
